/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.page-wrapper{
    background:#ffffff;
    padding-bottom:12vh
}
.main-content{
    padding-top:50px;
    padding-bottom:100px
}
.form-header{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex
}
.header-wrap{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
}
.app-search{
    padding-top:10px;
    padding-left: 450px;
}
.total{
    background:#6b6b6b;
    line-height:43px;
    color:#fff;
    border-radius:30px;
    border:2px solid #6b6b6b;
    float:left;
    margin-top:7px;
    padding-left:17px
}

.total span{
    display:inline-block;
    background:#fff;
    padding:0 13px;
    color:#000;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    margin-left:11px
}
.main-content{
    padding-top:50px;
    padding-bottom:100px
}
.main-content.page-m{
    padding:10% 0
}
.main-content.page-m{
    padding:10% 30% 10% 5%
}
.main-content{
    padding-top:116px;
    min-height:100vh
}
section{
    position:relative
}
.section-content{
    position:relative;
    margin:0 auto;
    z-index:1
}
.section-content-p30{
    padding:0 30px;
    padding-left: 300px;
}
.footer-pagination{
    text-align:center
}